body {
    font-family: 'Karla', sans-serif;
    padding: 0;
}

body, nav > h3 {
    margin: 0;
}

nav {
    background-color: beige;
    padding: 0.313em;
    height: 1.875em;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

#blog-list, button {
    padding: 0.625em;
}

form {
    padding: 3.75em 0.625em 0.625em;
    display: grid;
    background-color: lightblue;
}

input#post-title, textarea#post-body {
    margin-bottom: 0.625em;
}

button {
    font-size: 1.125rem;
    cursor: pointer;
}